<button (click)="onNew()">Ajouter</button>
<h4 *ngIf="selectedProduct || isNewProduct">Modification ou Ajout de produit:</h4>

<form *ngIf="selectedProduct || isNewProduct" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <label for="nom">Nom :</label>
    <input id="nom" formControlName="nom" placeholder="Papier 'quelque chose'">
    <p *ngIf="showFieldError('nom', 'required')" class="fielderror">Le champ est requis chef.</p>
    <p *ngIf="showFieldError('nom', 'pattern')" class="fielderror">Faut un espace entre Papier et le reste aussi...</p>
    <p *ngIf="showFieldError('nom')" class="fielderror">20 caractère max!</p>

    <label for="texture">Texture :</label>
    <input id="texture" formControlName="texture" placeholder="Granuleux, Lisse...">
    <p *ngIf="showFieldError('texture', 'required')" class="fielderror">Le champ est requis chef.</p>
    <p *ngIf="showFieldError('texture')" class="fielderror">10 caractère max!</p>

    <label for="grammage">Grammage :</label>
    <input id="grammage" formControlName="grammage" placeholder="XX gr">
    <p *ngIf="showFieldError('grammage', 'required')" class="fielderror">Le champ est requis chef.</p>
    <p *ngIf="showFieldError('grammage', 'pattern')" class="fielderror">Faut un espace entre le chiffre et gr...</p>

    <label for="couleur">Couleur :</label>
    <input id="couleur" formControlName="couleur" placeholder="Blanc, Rouge, Doré...">
    <p *ngIf="showFieldError('couleur', 'required')" class="fielderror">Le champ est requis chef.</p>

    <button type="submit" [disabled]="productForm.invalid">Valider</button>
    <button type="button" (click)="onCancel()">Annuler</button>
</form>
