<app-title [currentProduct]="selectedProduct"></app-title>
<button *ngIf="!userName" (click)="login()">Login</button>
<button *ngIf="userName" (click)="logout()">Logout</button>
<p *ngIf="userName">Bienvenue, {{ userName }} !</p>

<br>
<app-product-list [products]="products" (clickProduct)="onSelectProduct($event)"
  (deleteProduct)="onDeleteProduct($event)">
  ></app-product-list>

<br>
<app-product-form [selectedProduct]="selectedProduct" (saveProduct)="onSaveProduct($event)"
  (cancelEdit)="onCancelEdit()">
</app-product-form>